header {
    height: 100vh;
    padding-top: 7em;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5em;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
    position: absolute;
    left: 2em;
    bottom: 3em;
}

.header__socials::after {
    content: '';
    width: 2px;
    height: 2em;
    background-color: var(--color-primary);
} 

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 14em;
    height: 21em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4em;
    border-radius: 12em 12em 0 0;
    overflow: hidden;
    padding: 5em 1.5em 1.5em 1.5em;
    
} 

.me::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0px -40px 20px -5px var(--color-bg);
}

.me > img {
    border: 2px solid var(--color-bg);
    border-radius: 12em 12em 0 0;
}

.scroll__down {
    position: absolute;
    right: 0;
    bottom: 5em;
    transform: rotate(90deg);
    font-weight: 300;
    font-variant-east-asian: 0.9rem;
}

/* --- MEDIA QUERIES --- */

@media screen and (max-width: 1024px) {
    header {
        height: 40vh;
    }
}
 
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }
}