nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7em 1.7em;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2em;
    display: flex;
    gap: 1em;
    border-radius: 3em;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 1em;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1em;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.4);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}